
<div class="container mt-2">
    <div class="row mt-2">
        <div class="col col-md-4 offset-md-4">
            <a class="btn btn-primary" routerLink="/add-student">Create Student</a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" *ngFor="let item of student ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">
                        <b>Rollno: </b>{{item.rollnumber}}
                    </p>
                    <p class="card-text">
                        <b>Course: </b>{{item.course}}
                    </p>
                    <p class="card-text">
                        <b>Gender: </b>{{item.gender}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>